In [1]:
import os
import pandas as pd
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, inspect

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, Boolean 

from sqlalchemy.orm import Session

from sqlalchemy.ext.automap import automap_base

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
Base = declarative_base()
engine = create_engine("sqlite:///../Data/airbnb.sqlite")
Base.metadata.create_all(engine)

In [3]:
engine.execute("SELECT count(*) FROM listings").fetchall()

[(6632,)]

In [4]:
engine.execute("SELECT * FROM listings limit 2").fetchall()

[(1, 958.0, 'https://www.airbnb.com/rooms/958', 'Bright, Modern Garden Unit - 1BR/1B', 'https://a0.muscache.com/im/pictures/51332160/0fa5e18c_original.jpg?aki_policy=large', 'Holly', '92%', 't', 't', 'https://a0.muscache.com/im/pictures/efdad96a-3efc-4bc2-bdc9-f69740a5a818.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/efdad96a-3efc-4bc2-bdc9-f69740a5a818.jpg?aki_policy=profile_x_medium', 'Duboce Triangle', 'Apartment', 1.0, 1.0, '$170.00 ', '$1,120.00 ', '$4,200.00 ', 122.0, -122.4338563, 37.76931038, 152.0, 97.0, 1.38),
 (2, 5858.0, 'https://www.airbnb.com/rooms/5858', 'Creative Sanctuary', 'https://a0.muscache.com/im/pictures/17714/3a7aea10_original.jpg?aki_policy=large', 'Philip And Tania', '100%', 'f', 't', 'https://a0.muscache.com/im/users/8904/profile_pic/1283840786/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/8904/profile_pic/1283840786/original.jpg?aki_policy=profile_x_medium', 'Bernal Heights', 'Apartment', 2.0, 1.0, '$235.00 ', '$1,600.00 ', '$5,500.00 ', 365.0, -122.4210179, 37.74511233, 112.0, 98.0, 0.99)]

In [5]:
engine.execute("Select longitude, latitude from listings limit 5").fetchall()

[(-122.4338563, 37.76931038),
 (-122.4210179, 37.74511233),
 (-122.45250459999998, 37.7666896),
 (-122.451828, 37.76487219),
 (-122.4363737, 37.77524859)]

In [6]:
engine = create_engine("sqlite:///../Data/airbnb.sqlite")
inspector = inspect(engine)

In [7]:
inspector.get_table_names()

['listings']

In [8]:
columns = inspector.get_columns('listings')
for column in columns:
    print(column["name"], column["type"])

index BIGINT
id FLOAT
listing_url TEXT
name TEXT
picture_url TEXT
host_name TEXT
host_response_rate TEXT
host_is_superhost TEXT
host_has_profile_pic TEXT
host_thumbnail_url TEXT
host_picture_url TEXT
neighbourhood TEXT
property_type TEXT
bedrooms FLOAT
bathrooms FLOAT
price TEXT
weekly_price TEXT
monthly_price TEXT
availability_365 FLOAT
longitude FLOAT
latitude FLOAT
number_of_reviews FLOAT
review_scores_rating FLOAT
reviews_per_month FLOAT

In [9]:
# Sets an object to utilize the default declarative base in SQL Alchemy
# Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
# class Airbnb(Base):
#     __tablename__ = 'listings'
#     id = Column(Integer,Primary_key = True)
#     listing_url = Column(String(255))
#     name = Column(String(255))
#     picture_url = Column(String(255))
#     host_name = Column(String(255))
#     host_response = Column(String(255))
#     host_is_superhost = Column(Boolean)
#     host_has_profile_pic = Column(Boolean)
#     host_thumbnail_url = Column(String(255))
#     host_picture_url = Column(String(255))
#     neighbourhood = Column(String(255))
#     property_type = Column(String(255))
#     bedrooms = Column(Integer)
#     bathrooms = Column(Float)
#     price = Column(Float)
#     weekly_price = Column(Float)
#     monthly_price = Column(Float)
#     availability_365 = Column(Integer)
#     longitude = Column(Float)
#     latitude = Column(Float)
#     number_of_reviews = Column(Integer)
#     review_scores_rating = Column(Integer)
#     reviews_per_month = Column(Float)

In [11]:
results = engine.execute("SELECT * FROM listings limit 3").fetchall()

In [12]:
results

[(1, 958.0, 'https://www.airbnb.com/rooms/958', 'Bright, Modern Garden Unit - 1BR/1B', 'https://a0.muscache.com/im/pictures/51332160/0fa5e18c_original.jpg?aki_policy=large', 'Holly', '92%', 't', 't', 'https://a0.muscache.com/im/pictures/efdad96a-3efc-4bc2-bdc9-f69740a5a818.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/efdad96a-3efc-4bc2-bdc9-f69740a5a818.jpg?aki_policy=profile_x_medium', 'Duboce Triangle', 'Apartment', 1.0, 1.0, '$170.00 ', '$1,120.00 ', '$4,200.00 ', 122.0, -122.4338563, 37.76931038, 152.0, 97.0, 1.38),
 (2, 5858.0, 'https://www.airbnb.com/rooms/5858', 'Creative Sanctuary', 'https://a0.muscache.com/im/pictures/17714/3a7aea10_original.jpg?aki_policy=large', 'Philip And Tania', '100%', 'f', 't', 'https://a0.muscache.com/im/users/8904/profile_pic/1283840786/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/8904/profile_pic/1283840786/original.jpg?aki_policy=profile_x_medium', 'Bernal Heights', 'Apartment', 2.0, 1.0, '$235.00 ', '$1,600.00 ', '$5,500.00 ', 365.0, -122.4210179, 37.74511233, 112.0, 98.0, 0.99),
 (3, 7918.0, 'https://www.airbnb.com/rooms/7918', 'A Friendly Room - UCSF/USF - San Francisco', 'https://a0.muscache.com/im/pictures/26356/8030652f_original.jpg?aki_policy=large', 'Aaron', '100%', 'f', 't', 'https://a0.muscache.com/im/users/21994/profile_pic/1428380894/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/21994/profile_pic/1428380894/original.jpg?aki_policy=profile_x_medium', 'Cole Valley', 'Apartment', 1.0, 4.0, '$65.00 ', '$485.00 ', '$1,685.00 ', 365.0, -122.45250459999998, 37.7666896, 17.0, 85.0, 0.16)]

In [13]:
df = pd.DataFrame(results)

In [19]:
df_new = df.rename(columns={
    0: "index",
    1: "id"
})

In [20]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,958.0,https://www.airbnb.com/rooms/958,"Bright, Modern Garden Unit - 1BR/1B",https://a0.muscache.com/im/pictures/51332160/0...,Holly,92%,t,t,https://a0.muscache.com/im/pictures/efdad96a-3...,...,1.0,$170.00,"$1,120.00","$4,200.00",122.0,-122.433856,37.769310,152.0,97.0,1.38
1,2,5858.0,https://www.airbnb.com/rooms/5858,Creative Sanctuary,https://a0.muscache.com/im/pictures/17714/3a7a...,Philip And Tania,100%,f,t,https://a0.muscache.com/im/users/8904/profile_...,...,1.0,$235.00,"$1,600.00","$5,500.00",365.0,-122.421018,37.745112,112.0,98.0,0.99
2,3,7918.0,https://www.airbnb.com/rooms/7918,A Friendly Room - UCSF/USF - San Francisco,https://a0.muscache.com/im/pictures/26356/8030...,Aaron,100%,f,t,https://a0.muscache.com/im/users/21994/profile...,...,4.0,$65.00,$485.00,"$1,685.00",365.0,-122.452505,37.766690,17.0,85.0,0.16